.header {
  padding: 65px 0 95px 0;
  background: $color-main;
  color: $color-light;
  display: flex;
  justify-content: center;

  &__wrapper {
    position: relative;
  }
}

.logo {
  display: flex;
  justify-content: center;

  img {
    width: auto;
    height: 150px;
  }
}


.main-nav {
  position: absolute;
  @include flex(row, flex-start, flex-start);
  bottom: ($base-size * -8);
}

.main-nav-button {
  border: none;
  text-decoration: none;
  background: $color-dark;
  color: $color-light;
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  margin: 2px;
  text-transform: uppercase;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  display: inline-block;
  transition: all 0.3s ease 0s;

  &.active {
    background: $color-main;
  }
}

.main-nav-button:hover {
  color: $color-dark;
  font-weight: 700;
  letter-spacing: 8px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}
