.main-container {
  background-color: $color-light;
  height: 1180px;
  border-radius: $radius;
}

// FIRST ROW
.first-row {
  @include flex(row, flex-start, center);
}

.order .first-row-btn {
  background-image: url('/images/guitar.jpeg');
  background-size: 290px 140px;

}

.book .first-row-btn {
  background-image: url('/images/studio.jpeg');
  background-size: cover;
}

.first-row-btn {
  margin-top: 63px;
  width: 294px;
  height: 119px;
  border-radius: $radius;
  border-color: $color-light;
  background-color: $color-dark;
  color: $color-light;
  font-family: $font-header;
  letter-spacing: -0.65px;
  padding: 0;

  h2 {
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 70px;
    font-size: 26px;
    transition: $transition;
  }

  p {
    font-size: $home-size;
    font-family: $font-text;
    font-weight: 400;
    opacity: 0;
    transition: $transition;
  }
}

.first-row-btn:hover {
  h2 {
    color: $color-light;
    line-height: 40px;
  }

  p {
    color: $color-light;
    line-height: 40px;
    opacity: 1;
  }
}

// SECOND ROW
.second-row {
  @include flex(row, flex-start, center);
  margin-top: 6px;
}

.opening {
  text-align: center;
  margin: 0;
  width: 594px;
  height: 120px;
  background-color: $color-main;
  border-radius: $radius;
  font-family: $font-header;
  text-transform: uppercase;
  color: $color-jamm;

  h3 {
    font-size: 26px;
    letter-spacing: -0.65px;
    margin-top: 32px;
    margin-bottom: 0;
  }

  p {
    font-family: $font-text;
    font-size: $home-size;
    font-weight: $font-light;
    margin-top: 0;
  }
}

// THIRD ROW
.third-row {
  @include flex(row, flex-start, center);
  margin-top: 60px;
  width: 604;
  margin-left: 34;
}

.image {
  background-image: url("/images/miles.jpeg");
  width: 193px;
  height: 193px;
  background-size: cover;
}

.quotes {
  width: 367px;

  ul {
    padding-left: 70px;
  }

  li {
    list-style: none;
  }
}

.quote-title {
  color: $color-dark;
  font-family: $font-text;
  font-size: $home-size;
  font-weight: $font-bold;
  text-transform: uppercase;
  margin-top: 10px;
}

.quote-content {
  color: $color-dark;
  font-family: $font-text;
  font-size: $home-size;
  font-weight: $font-normal;
  line-height: 23px;
}

.quote-author {
  color: $color-dark;
  font-family: $font-text;
  font-size: $home-size;
  font-style: italic;
  line-height: 23px;
}

// FOURTH ROW

.fourth-row {
  background-image: url('../images/concert.jpeg');
  height: 600px;
  text-align: center;
  color: $color-light;
  font-family: $font-header;

  h2 {
    font-weight: 300;
    padding: 40px 0 30px;
    font-size: 40px;
  }
}

.forth-row-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  margin: 15px;

  p {
    font-size: 14px;

  }

  button {
    background-color: Transparent;
    width: 30px;
    margin-left: 40%;
  }
}

.content-img {
  width: 200px;
  border: 4px solid $color-light;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.content-img:hover {
  -webkit-filter: brightness(50%);
}

.watch-now-button {
  color: $color-light;
  background: Transparent;
  padding: 8px;
  border: 2px solid $color-main;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.watch-now-button:hover {
  text-decoration: none;
  color: $color-dark;
  background: $color-main;
  transition: all 0.4s ease 0s;
}


// FOOTER

.footer {
  background-color: $color-main;
  height: 60px;
  display: flex;
  justify-content: center;
}

.footer a{
  margin-left: 28px;
  color: $color-dark;
  font-family: $font-text;
  font-size: $home-size;
  font-weight: $font-normal;
  line-height: 80px;
}
